:root {
  --brand-color-1: #e8e3de;
  --brand-color-2: #faf9f8;
  --brand-font-family: "Libre Caslon Display", serif;
}
body {
  background: #faf9f8;
}
.container {
  font-family: var(--brand-font-family);
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 0 250px;
}
.image-stack {
  position: relative;
  width: 300px;
  height: 300px;
  margin-right: 50px;
}
.image-stack-top {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}
.image-stack-bottom {
  position: absolute;
  width: 100%;
  top: 50px;
  left: -50px;
}
@media (max-width: 576px) {
  .container {
    text-align: center;
    padding: 0;
    margin-top: 100px;
  }
}
