:root {
  --brand-color-1: #e8e3de;
  --brand-color-2: #faf9f8;
  --brand-font-family: "Libre Caslon Display", serif;
}
body {
  background: #faf9f8;
}
h1,
h2,
h3,
p {
  font-family: var(--brand-font-family);
}
.home-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  max-width: 800px;
}
.image-stack {
  position: relative;
  width: 300px;
  height: 300px;
  margin-right: 50px;
}
.image-stack-top {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}
.image-stack-bottom {
  position: absolute;
  width: 100%;
  top: 50px;
  left: -50px;
}
.body {
  text-align: center;
}
.title {
  margin-top: 50px;
}
.location {
  margin-bottom: 30px;
  font-size: 25px;
}
.about-desc {
  margin: 20px 200px;
  padding: 20px;
  background-color: #e8e3de;
  border-radius: 5px;
}
.followMe {
  font-size: 20px;
  display: inline;
}
#work-container {
  max-width: 1000px;
  margin-top: 50px;
}
button {
  border-radius: 10px;
  background-color: var(--brand-color-2);
}
.contact-container {
  margin: 50px 400px;
  background: var(--brand-color-1);
  padding: 10px 20px;
  border-radius: 5px;
}
.contact-img {
  margin-top: 20px;
}
.contact {
  margin: 20px 0;
}
a {
  text-decoration: none;
  color: black;
}
@media (max-width: 700px) {
  .home-container {
    text-align: center;
    padding: 0;
    margin-top: 50px;
  }
  #profile-pic {
    text-align: center;
    margin-bottom: 50px;
  }
  .about-desc {
    margin: 0;
  }
}
